body {
    margin: 0px;
    background-color: rgb(53, 52, 52);
}

.container {
    background-color: rgb(243, 225, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 700px;
    border: none;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    box-shadow: 6px 6px 12px #2893b4,
    -6px -6px 12px #2893b4;

}

.form1 {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.form2 {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.form3 {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
    flex-direction: column;
    width: 379px;
}

.form1 input {
    margin: 5px;
    border-radius: 5px;
    height: 20px;
    border-color: transparent;
    background-color: rgb(229, 230, 235);
}

.form2 input {
    margin: 5px;
    border-radius: 5px;
    height: 20px;
    border-color: transparent;
    background-color: rgb(190, 200, 252);
}


.form3 input {
    margin: 5px;
    border-radius: 5px;
    border-color: transparent;
    background-color: rgb(159, 172, 172);
    height: 30px;
}

button {
    background-color: blue;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    border-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 5px 5px 10px #777;
}

::placeholder {
    color: rgba(23, 29, 105, 0.623);
    padding-left: 10px;
    font-size: 15px;
}

button p {
    color: aliceblue;
}

button a {
    text-decoration: none;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    width:200px;
    transition: 1s ease;
    animation: normal;
    animation-duration: 100s;
    animation-name:animationex;

}

@keyframes animationex {
    0% {background-color: rgb(5, 212, 74); top: 50;}
    100% {background-color: greenyellow;}
}
